#vinplay
name=mysqlpoolname
drivers=com.mysql.jdbc.Driver
mysqlpoolname.url=jdbc:mysql://mysql:3306/vinplay?useUnicode=yes&useSSL=false&characterEncoding=UTF-8
mysqlpoolname.user=${MYSQL_USER}
mysqlpoolname.password=${MYSQL_PASSWORD}
mysqlpoolname.minpool=5
mysqlpoolname.maxpool=30
mysqlpoolname.maxsize=40
mysqlpoolname.idleTimeout=900
#vinplay_minigame
name=mysqlpool_minigame
drivers=com.mysql.jdbc.Driver
mysqlpool_minigame.url=jdbc:mysql://mysql:3306/vinplay_minigame?useUnicode=yes&useSSL=false&characterEncoding=UTF-8
mysqlpool_minigame.user=${MYSQL_USER}
mysqlpool_minigame.password=${MYSQL_PASSWORD}
mysqlpool_minigame.minpool=5
mysqlpool_minigame.maxpool=20
mysqlpool_minigame.maxsize=30
mysqlpool_minigame.idleTimeout=900
#vinplay_minigame_admin
name=mysqlpool_admin
drivers=com.mysql.jdbc.Driver
mysqlpool_admin.url=jdbc:mysql://mysql:3306/vinplay_admin?useUnicode=yes&useSSL=false&characterEncoding=UTF-8
mysqlpool_admin.user=${MYSQL_USER}
mysqlpool_admin.password=${MYSQL_PASSWORD}
mysqlpool_admin.minpool=0
mysqlpool_admin.maxpool=10
mysqlpool_admin.maxsize=10
mysqlpool_admin.idleTimeout=900
#game bai
name=mysqlpool_gamebai
drivers=com.mysql.jdbc.Driver
mysqlpool_gamebai.url=jdbc:mysql://mysql:3306/vinplay_gamebai?useUnicode=yes&useSSL=false&characterEncoding=UTF-8
mysqlpool_gamebai.user=${MYSQL_USER}
mysqlpool_gamebai.password=${MYSQL_PASSWORD}
mysqlpool_gamebai.minpool=0
mysqlpool_gamebai.maxpool=10
mysqlpool_gamebai.maxsize=10
mysqlpool_gamebai.idleTimeout=900
